<div *ngIf="nbaService.loading(); else tableTemplate">
  <mat-spinner></mat-spinner>
</div>

<ng-template #tableTemplate>
  <h1>NBA Player Search filter</h1>
  <mat-form-field appearance="outline">
    <mat-label>Search Players</mat-label>
    <input matInput [(ngModel)]="searchQuery" (keyup)="applyFilter()" placeholder="Search by name, team, or position">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource()" class="mat-elevation-z8">
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let player">{{ player.firstName }}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let player">{{ player.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="team">
      <th mat-header-cell *matHeaderCellDef>Team</th>
      <td mat-cell *matCellDef="let player">{{ player.team }}</td>
    </ng-container>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>Position</th>
      <td mat-cell *matCellDef="let player">{{ player.position }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let player">
        <button mat-button (click)="openPlayerModal(player)">View Player Info</button>
      </td>
    </ng-container>

    <!-- Table Header & Row Definitions -->
    <thead>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    </thead>
    <tbody>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </tbody>

  </table>

</ng-template>

  <!-- Pagination -->
  <mat-paginator  [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons (page)="onPageChange($event)"[class.hidden-until-loaded]="nbaService.loading()"></mat-paginator>
